@import '~bootstrap/scss/bootstrap';
body {
  margin: 80px;
  padding: 80px;
}

h1 {
  color: #ff9a76;
  font-family: 'Indie Flower';
  font-size: 90px;
  text-align: center;
}



div {
  padding: 30px;
}

.authenticated {
  display: none;
}

button {
  background-color: #6886c5;
  color: #ffffff;
}

td {
  border: 5px solid #6886c5;
  // border-left: 0;
  // border-top: 0;
  color: #ff9a76;
  font-size: 100px;
  height: 140px;
  text-align: center;
  width: 140px;
}

.board {
  align-items: center;
  background: #c7b198;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
}

* {
  box-sizing: border-box;
  font-family: 'Indie Flower';
  margin: 10;
  padding: 10;
}

p {
  color: #ff9a76;
  font-size: 28px;
}

label {
  font-size: 25px;
  color: #ff9a76;
}

.games-played {
  font-size: 20px;
}
